/ROSBAG*
/TEMP*
*.asv
parfor_progress.txt
/CLASSIFICATION_RESULTS
*.png
/Image_Dump
*.bag
*.xlsx
*.ods
ransac_scoring_elimination.txt
/Delete
/NN_Test
trainNNClassifier.m
/TRAINING_DATA
/Manuall_Classified_Areas_Wide_SoR*
/RDFs
/PCD_Map_Maker_2
/Truth_Areas_v3
/Overlap_Comp_Areas
/RESULTS
*.avi
/ANIMATIONS
*.fig